@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .floral-bg {
    background-image: radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.8) 0%,
      rgba(224, 242, 254, 0.4) 100%
    );
  }
  .text-gradient-gold {
    background: linear-gradient(
      to right,
      #bf953f,
      #fcf6ba,
      #b38728,
      #fbf5b7,
      #aa771c
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

body {
  min-height: max(884px, 100dvh);
}
